{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Mes commandes</h1>

        {% if commandes|length > 0 %}
            {% for commande in commandes %}
                <div class="card mb-3">
                    <div class="card-header">
                        Commande #{{ commande.id }} – {{ commande.dateCommande|date('d/m/Y H:i') }}
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for product in commande.products %}
                                <li>{{ product.name }} – {{ product.price }} €</li>
                            {% endfor %}
                        </ul>
                        <strong>Total : {{ commande.getTotalPrice() }} €</strong>
                    </div>
                    <form style="margin-bottom: 20px;margin-left: 20px;position: relative" method="post"
                          action="{{ path('commande_delete', {id: commande.id}) }}"
                          onsubmit="return confirm('Êtes-vous sûr de vouloir annuler cette commande ?');">

                        <input type="hidden" name="_token" value="{{ csrf_token('delete_commande_' ~ commande.id) }}">
                        <button class="btn btn-danger mt-3">Annuler la commande</button>
                    </form>


                </div>
            {% endfor %}
        {% else %}
            <p>Vous n'avez passé aucune commande pour le moment.</p>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}
{% block developpers %}{{ parent() }}{% endblock %}
